@use 'UI/tag';
@use 'UI/btn';
@use 'UI/checkbox';
@use 'profile';
@use 'settings';
@use 'UI/input';
@use 'UI/switch';
@use 'UI/dialog';
@use 'UI/tour-c';
@use 'UI/radio';
@use 'UI/select';
@use 'UI/collapse';
@use 'UI/slider';
@use 'UI/custom-modal';
@use 'UI/steps';
@use 'UI/skeleton.scss';
@use 'UI/empty.scss';

body {
  overflow-y: scroll;
  font-family: Manrope, sans-serif;
  
}

#__nuxt {

  .profiles {
    .el-loading-mask {
      margin-top: 1vh;
    }
  }

  .notify {
    .el-loading-mask {
      margin-top: 23vh;
    }
  }

}