.vscode/
api/.vscode/
bot/.vscode/
app/.vscode/
**/.vscode/

api/node_modules/
bot/node_modules/
app/node_modules/
**/node_modules/

api/dist/
bot/dist/
app/dist/
**/dist/

api/ssl/
bot/ssl/
app/ssl/
nginx/ssl/
**/ssl/

bot/.env
api/.env
app/.env
.env
**/.env

**/*.crt
**/*.key
**/*.pem
