:root {
  #light {
    --colored-btn-color: #ffffff;
    --font-btn-color: black;

    --btn-hover-shadow: #8f7f7f;
    --btn-active-border-color: #2f2f2f;
  }

  #dark {}
}

#__nuxt {
  .el-button {
    height: 3.8rem;
    border-radius: 5.5rem;

    span, p {
      font-size: 1rem;
      font-weight: 700;
    }

    &:hover {
      box-shadow: 0 0 5px var(--btn-hover-shadow);
    }

    &:active {
      scale: 0.99;
      border: 1px solid var(--btn-active-border-color);
    }

    &.color {
      background: linear-gradient(90deg, #FF6C46, #E44820);

      span, p {
        color: var(--colored-btn-color);
      }
    }

    &.font {
      background: transparent;
      color: var(--font-btn-color);

      span, p {
        color: var(--font-btn-color);
      }
    }
  }
}