:root {
  #light {
    --input-color: black;
    --input-focus-border: black;
    --input-error-border: #ff0000;
    --input-focus-shadow: #00000033;
    --icon-fill: black;
  }

  #dark {}
}

#__nuxt {
  .el-input {
    --el-border-radius-base: 1rem;
    --el-input-text-color: var(--input-color);


    width: 100%;
    border-radius: 4.5rem;
    box-sizing: 2px;

    &__wrapper {
      &.is-focus {
        border: 2px solid var(--input-focus-border);
        outline-color: var(--input-focus-border);
        box-shadow: 0 0 0 1px var(--input-focus-shadow);

        --el-input-focus-border: var(--input-focus-border);
      }
    }

    &.error {
      --el-border-color: var(--input-error-border) !important;
    }

    .el-icon {
      color: var(--icon-fill);
      width: 1.6rem;
      height: 1.6rem;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
