#__nuxt {
  .el-input {
    border-radius: 80px;

    --el-border-radius-base: 16px;

    &__wrapper {
      &.is-focus {
        outline-color: black;
        box-shadow: 0 0 0 1px rgb(0 0 0 / 20%);

        --el-input-focus-border: black;
      }
    }

    &__prefix-inner {
      color: black;
    }

    &--large {
      .el-input__inner {
        height: 60px;
      }
    }
  }


  .el-textarea {
    border-radius: 80px;

    --el-border-radius-base: 16px;

    &__wrapper {
      &.is-focus {
        outline-color: black;
        box-shadow: 0 0 0 1px rgb(0 0 0 / 20%);

        --el-input-focus-border: black;
      }
    }
    
    &__inner {
      padding: 15px;
    }

    &__prefix-inner {
      color: black;
    }

    &--large {
      .el-input__inner {
        height: 60px;
      }
    }
  }
}
